# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# R
.Rhistory
.RData
.Rproj.user/

# Environment / secrets
.env
.env.*

geonho/data/서울시 건축물대장 표제부.csv
data/Index_data/
Index_data/
data/